In [6]:
import pandas as pd

In [37]:
df = pd.read_csv("~/project/MIMIC-III/Data/FINAL/New_Demo+Lab/Demo_Lab(1%).csv")
OI = pd.read_csv("~/project/MIMIC-III/Baseline/overlap_OI.csv")
OSI = pd.read_csv("~/project/MIMIC-III/Baseline/overlap_OSI.csv")
Apache = pd.read_csv("~/project/MIMIC-III/Baseline/apache-II.csv")

In [38]:
df2 = pd.merge(df[['SUBJECT_ID', 'HADM_ID']], OSI[['SUBJECT_ID', 'HADM_ID']], on=['SUBJECT_ID', 'HADM_ID'], how='inner')
df2 = pd.merge(df, OSI[['SUBJECT_ID', 'HADM_ID']], on=['SUBJECT_ID', 'HADM_ID'], how='inner')
print("test: ",len(df2))


left_anti_join_df = pd.merge(df[['SUBJECT_ID', 'HADM_ID']], OSI[['SUBJECT_ID', 'HADM_ID']], on=['SUBJECT_ID', 'HADM_ID'], how='left', indicator=True)
df3 = left_anti_join_df[left_anti_join_df['_merge'] == 'left_only'].drop('_merge', axis=1)
df3 = pd.merge(df, df3[['SUBJECT_ID', 'HADM_ID']], on=['SUBJECT_ID', 'HADM_ID'], how='inner')
print("train:", len(df3))

print(len(df))
print(len(df2)+len(df3))

test:  1421
train: 4467
5888
5888

In [39]:
# lable 값 확인
df2[df2["y"] == 1]

,SUBJECT_ID,HADM_ID,TLOS,AGE,DOA,ETHNICITY,GENDER,LOS,Creatinine_mean,Urea Nitrogen_mean,...,Hemoglobin_min,Anion Gap_min,Bicarbonate_min,Glucose_min,MCV_min,Red Blood Cells_min,RDW_min,MCH_min,Potassium_min,y
0,101,175533,15 days 18:41:00,82,15 days 18:41:00,ASIAN,M,9.8919,0.925000,16.000000,...,11.0,16.0,12.0,186.0,98.0,3.43,11.8,31.9,3.5,1
7,268,110404,6 days 14:15:00,66,6 days 14:15:00,HISPANIC OR LATINO,F,3.2490,1.466667,34.666667,...,11.6,15.0,26.0,120.0,85.0,4.00,12.3,28.8,4.2,1
9,275,129886,13 days 12:26:00,82,13 days 12:26:00,WHITE,M,7.1314,1.200000,43.500000,...,13.5,16.0,20.0,101.0,87.0,4.49,13.6,30.1,3.7,1
10,346,195392,5 days 17:59:00,85,5 days 17:59:00,BLACK/AFRICAN AMERICAN,F,4.8545,1.000000,18.000000,...,9.8,12.0,30.0,108.0,95.0,3.02,22.0,31.8,3.8,1
11,408,173910,75 days 22:54:00,79,75 days 22:54:00,WHITE,M,54.3242,2.225000,66.250000,...,7.9,16.0,12.0,92.0,91.0,2.73,13.5,28.8,4.4,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1411,32582,133999,7 days 20:47:00,60,7 days 20:47:00,WHITE,F,7.9873,1.280000,14.200000,...,9.1,17.0,14.0,115.0,136.0,2.03,17.1,45.0,3.0,1
1412,32594,132995,3 days 14:11:00,82,3 days 14:11:00,WHITE,F,4.1851,1.280000,16.000000,...,11.4,14.0,11.0,117.0,84.0,4.08,16.1,28.0,4.2,1
1415,32675,170865,8 days 19:41:00,57,8 days 19:41:00,BLACK/AFRICAN AMERICAN,M,9.4922,2.475000,70.750000,...,7.6,21.0,15.0,75.0,93.0,2.88,21.9,25.8,4.8,1
1416,32686,175596,31 days 00:13:00,68,31 days 00:13:00,WHITE,M,26.8999,0.900000,16.500000,...,14.8,15.0,23.0,120.0,84.0,5.19,12.9,28.4,3.4,1
1418,32737,151135,6 days 02:39:00,81,6 days 02:39:00,WHITE,M,6.2948,1.750000,41.000000,...,8.7,13.0,16.0,147.0,87.0,3.00,16.5,28.2,4.1,1

In [40]:
df2.to_csv("~/project/MIMIC-III/Baseline/overlap/ARDS/New_OSI/overlap_OSI(1%)_test.csv", index=False)
df3.to_csv("~/project/MIMIC-III/Baseline/overlap/ARDS/New_OSI/overlap_OSI(1%)_train.csv", index=False)