In [1]:
import pandas as pd
import numpy as np
from datetime import timedelta
from scipy import stats

### 1. Categorical - mode

In [2]:
df = pd.read_csv('~/project/MIMIC-III/Data/FINAL/Lab/LABORATORY_VALUE_24h_category.csv')
df

,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,LABEL
0,101,175533,50828,2196-09-26 14:04:00,CONTROLLED,NaN,Ventilator
1,101,175533,50800,2196-09-26 19:38:00,ART,NaN,SPECIMEN TYPE
2,101,175533,51484,2196-09-26 12:59:00,NEG,NaN,Ketone
3,101,175533,51486,2196-09-26 12:59:00,NEG,NaN,Leukocytes
4,101,175533,51487,2196-09-26 12:59:00,NEG,NaN,Nitrite
...,...,...,...,...,...,...,...
69360,32800,179038,50800,2189-02-02 16:23:00,ART,NaN,SPECIMEN TYPE
69361,32800,179038,50812,2189-02-02 16:23:00,INTUBATED,NaN,Intubated
69362,32800,179038,50827,2189-02-02 16:23:00,20/,NaN,Ventilation Rate
69363,32800,179038,50800,2189-02-02 17:58:00,ART,NaN,SPECIMEN TYPE
69364,32800,179038,50882,2189-02-02 19:15:00,LESS THAN 5,NaN,Bicarbonate

In [3]:
top_20_labels = df['LABEL'].value_counts().head(20).reset_index()
top_20_labels.columns = ['LABEL', 'COUNT']
top_20_items = df[df['LABEL'].isin(top_20_labels['LABEL'])][['LABEL', 'ITEMID']].drop_duplicates()
result_df = pd.merge(top_20_labels, top_20_items, on='LABEL', how='left')
result_df

               LABEL  COUNT  ITEMID
0      SPECIMEN TYPE   9629   50800
1          Intubated   4870   50812
2   Ventilation Rate   2954   50827
3        Urine Color   2017   51508
4   Urine Appearance   2016   51506
5              Blood   2016   51466
6          Bilirubin   2015   51464
7            Nitrite   2015   51487
8         Leukocytes   1951   51486
9             Ketone   1761   51484
10           Glucose   1733   51478
11           Glucose   1733   50809
12             Yeast   1683   51519
13          Bacteria   1661   51463
14        Ventilator   1462   50828
15       Hypochromia   1438   51233
16        Macrocytes   1421   51246
17      Anisocytosis   1396   51137
18      Urobilinogen   1395   51514
19        Microcytes   1352   51252
20    Poikilocytosis   1336   51267

#### 1-1. SPECIMEN TYPE(모식)

In [4]:
df1 = df[df['LABEL'] == 'SPECIMEN TYPE']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 130

In [5]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df2 = df1.groupby(['SUBJECT_ID', 'HADM_ID']).apply(mode_with_max_charttime).reset_index()
df2.columns = ['SUBJECT_ID', 'HADM_ID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/SPECIMEN TYPE.csv', index=False)

df2['VALUE'].value_counts()

ART    1816
VEN      26
MIX       9
Name: VALUE, dtype: int64

#### 1-2. Intubated(삽관)

In [6]:
df1 = df[df['LABEL'] == 'Intubated']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 124

In [7]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df2 = df1.groupby(['SUBJECT_ID', 'HADM_ID']).apply(mode_with_max_charttime).reset_index()
df2.columns = ['SUBJECT_ID', 'HADM_ID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Intubated.csv', index=False)
df2['VALUE'].value_counts()

INTUBATED        1440
NOT INTUBATED     159
Name: VALUE, dtype: int64

#### 1-3. Ventilation Rate

In [63]:
df1 = df[df['LABEL'] == 'Ventilation Rate']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 608

In [66]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df2 = df1.groupby(['SUBJECT_ID', 'HADM_ID']).apply(mode_with_max_charttime).reset_index()
df2.columns = ['SUBJECT_ID', 'HADM_ID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Ventilation Rate.csv', index=False)
print("LABEL: Ventilation Rate")
print("Unique Label:", len(df2['VALUE'].value_counts()))
df2['VALUE'].value_counts()

LABEL: Ventilation Rate
Unique Label: 193

14/      90
12/      76
/12      63
16/      63
/14      62
         ..
20/14     1
16/13     1
24/9      1
18/12     1
28/14     1
Name: VALUE, Length: 193, dtype: int64

#### 1-4. Urine Color

In [10]:
df1 = df[df['LABEL'] == 'Urine Color']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 272

In [11]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df2 = df1.groupby(['SUBJECT_ID', 'HADM_ID']).apply(mode_with_max_charttime).reset_index()
df2.columns = ['SUBJECT_ID', 'HADM_ID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Urine Color.csv', index=False)
df2['VALUE'].value_counts()

Yellow     801
Straw      415
Amber      254
LtAmb       70
YELLOW      42
Red         18
Orange      18
STRAW       14
DkAmb       13
Brown       12
AMBER        8
RED          3
DKAMBER      1
Other        1
Pink         1
Black        1
None         1
PINK         1
Lt           1
GREEN        1
Name: VALUE, dtype: int64

#### 1-5. Blood

In [12]:
df1 = df[df['LABEL'] == 'Blood']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 374

In [13]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df2 = df1.groupby(['SUBJECT_ID', 'HADM_ID']).apply(mode_with_max_charttime).reset_index()
df2.columns = ['SUBJECT_ID', 'HADM_ID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Blood.csv', index=False)
df2['VALUE'].value_counts()

LG     552
NEG    493
MOD    190
SM     185
LGE    135
TR     120
Name: VALUE, dtype: int64

#### 1-6. Urine Appearance

In [14]:
df1 = df[df['LABEL'] == 'Urine Appearance']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 232

In [15]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df2 = df1.groupby(['SUBJECT_ID', 'HADM_ID']).apply(mode_with_max_charttime).reset_index()
df2.columns = ['SUBJECT_ID', 'HADM_ID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Urine Appearance.csv', index=False)
df2['VALUE'].value_counts()

Clear       1161
Hazy         217
Cloudy       151
SlHazy        66
CLEAR         33
SlCldy        17
HAZY          10
SLHAZY         9
CLOUDY         7
SlCloudy       4
Name: VALUE, dtype: int64

#### 1-7. Nitrite

In [16]:
df1 = df[df['LABEL'] == 'Nitrite']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 46

In [17]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df2 = df1.groupby(['SUBJECT_ID', 'HADM_ID']).apply(mode_with_max_charttime).reset_index()
df2.columns = ['SUBJECT_ID', 'HADM_ID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Nitrite.csv', index=False)
df2['VALUE'].value_counts()

NEG    1584
POS      91
Name: VALUE, dtype: int64

#### 1-8. Bilirubin

In [18]:
df1 = df[df['LABEL'] == 'Bilirubin']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 104

In [19]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df2 = df1.groupby(['SUBJECT_ID', 'HADM_ID']).apply(mode_with_max_charttime).reset_index()
df2.columns = ['SUBJECT_ID', 'HADM_ID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Bilirubin.csv', index=False)
df2['VALUE'].value_counts()

NEG    1419
SM      172
MOD      53
LG       31
Name: VALUE, dtype: int64

#### 1-9. Leukocytes

In [20]:
df1 = df[df['LABEL'] == 'Leukocytes']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 166

In [21]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df2 = df1.groupby(['SUBJECT_ID', 'HADM_ID']).apply(mode_with_max_charttime).reset_index()
df2.columns = ['SUBJECT_ID', 'HADM_ID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Leukocytes.csv', index=False)
df2['VALUE'].value_counts()

NEG    1244
MOD     152
SM      111
TR      101
LG       10
Name: VALUE, dtype: int64

#### 1-10. Ketone

In [22]:
df1 = df[df['LABEL'] == 'Ketone']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 112

In [23]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df2 = df1.groupby(['SUBJECT_ID', 'HADM_ID']).apply(mode_with_max_charttime).reset_index()
df2.columns = ['SUBJECT_ID', 'HADM_ID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Ketone.csv', index=False)
df2['VALUE'].value_counts()

NEG    1189
TR      307
>80       5
Name: VALUE, dtype: int64

#### 1-11/12. Glucose(51478/50809)

In [24]:
df1 = df[df['LABEL'] == 'Glucose']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 38

In [25]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df2 = df1.groupby(['SUBJECT_ID', 'HADM_ID']).apply(mode_with_max_charttime).reset_index()
df2.columns = ['SUBJECT_ID', 'HADM_ID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Glucose.csv', index=False)
df2['VALUE'].value_counts()

NEG                                     1359
TR                                        97
>1000                                     14
GREATER THAN 500                           1
<10                                        1
EXCEEDS REFERENCE RANGE OF 999 MG/DL       1
INTERFERING SUBSTANCES                     1
Name: VALUE, dtype: int64

#### 1-13. Yeast

In [26]:
df1 = df[df['LABEL'] == 'Yeast']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 40

In [27]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df2 = df1.groupby(['SUBJECT_ID', 'HADM_ID']).apply(mode_with_max_charttime).reset_index()
df2.columns = ['SUBJECT_ID', 'HADM_ID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Yeast.csv', index=False)
df2['VALUE'].value_counts()

NONE       1326
FEW          26
MANY         24
MOD          22
OCC          17
RARE          9
              3
NOTDONE       1
Name: VALUE, dtype: int64

#### 1-14. Bacteria

In [71]:
df1 = df[df['LABEL'] == 'Bacteria']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 282

In [72]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df2 = df1.groupby(['SUBJECT_ID', 'HADM_ID']).apply(mode_with_max_charttime).reset_index()
df2.columns = ['SUBJECT_ID', 'HADM_ID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Bacteria.csv', index=False)
print("Label: Bacteria")
df2['VALUE'].value_counts()

Label: Bacteria

NONE       359
FEW        342
OCC        216
MOD        180
MANY       160
RARE       126
NEG         26
             3
NOTDONE      1
F            1
Name: VALUE, dtype: int64

#### 1-15. Ventilator

In [30]:
# 24h mode 가져오기, mode 2개인 경우 가장 최근 값으로
df1 = df[df['LABEL'] == 'Ventilator']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 122

In [31]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df2 = df1.groupby(['SUBJECT_ID', 'HADM_ID']).apply(mode_with_max_charttime).reset_index()
df2.columns = ['SUBJECT_ID', 'HADM_ID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Ventilator.csv', index=False)
df2['VALUE'].value_counts()

CONTROLLED     476
SPONTANEOUS    187
IMV            149
Name: VALUE, dtype: int64

#### 1-16. Hypochromia

In [32]:
df1 = df[df['LABEL'] == 'Hypochromia']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 142

In [33]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df2 = df1.groupby(['SUBJECT_ID', 'HADM_ID']).apply(mode_with_max_charttime).reset_index()
df2.columns = ['SUBJECT_ID', 'HADM_ID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Hypochromia.csv', index=False)
df2['VALUE'].value_counts()

NORMAL        606
1+            289
2+            121
3+            109
OCCASIONAL     24
Name: VALUE, dtype: int64

#### 1-17. Macrocytes

In [34]:
df1 = df[df['LABEL'] == 'Macrocytes']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 158

In [35]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df2 = df1.groupby(['SUBJECT_ID', 'HADM_ID']).apply(mode_with_max_charttime).reset_index()
df2.columns = ['SUBJECT_ID', 'HADM_ID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Macrocytes.csv', index=False)
df2['VALUE'].value_counts()

NORMAL        633
1+            302
2+            117
3+             50
OCCASIONAL     39
Name: VALUE, dtype: int64

#### 1-18. Anisocytosis

In [36]:
df1 = df[df['LABEL'] == 'Anisocytosis']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 160

In [37]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df2 = df1.groupby(['SUBJECT_ID', 'HADM_ID']).apply(mode_with_max_charttime).reset_index()
df2.columns = ['SUBJECT_ID', 'HADM_ID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Anisocytosis.csv', index=False)
df2['VALUE'].value_counts()

NORMAL        481
1+            450
2+            138
OCCASIONAL     29
3+             18
Name: VALUE, dtype: int64

#### 1-19. Urobilinogen

In [68]:
df1 = df[df['LABEL'] == 'Urobilinogen']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 0

In [69]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df2 = df1.groupby(['SUBJECT_ID', 'HADM_ID']).apply(mode_with_max_charttime).reset_index()
df2.columns = ['SUBJECT_ID', 'HADM_ID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Urobilinogen.csv', index=False)
df2['VALUE'].value_counts()

NEG    1184
>8        1
          1
Name: VALUE, dtype: int64

#### 1-20. Poikilocytosis

In [40]:
df1 = df[df['LABEL'] == 'Poikilocytosis']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 154

In [41]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df2 = df1.groupby(['SUBJECT_ID', 'HADM_ID']).apply(mode_with_max_charttime).reset_index()
df2.columns = ['SUBJECT_ID', 'HADM_ID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Poikilocytosis.csv', index=False)
df2['VALUE'].value_counts()

NORMAL        585
1+            332
OCCASIONAL     76
2+             70
3+             11
Name: VALUE, dtype: int64

In [50]:
# [130+124+608+272+374+232+46+104+166+112+38+40+282+122+142+158+160+0+154]

### 2. Numerical - mean, max, min

In [42]:
result = pd.read_csv('~/project/MIMIC-III/Data/FINAL/Lab/Lab_Result.csv')
patients = pd.read_csv('~/project/MIMIC-III/Data/OI&OSI/new_OI&OSI(down).csv')

df_mean = pd.read_csv('~/project/MIMIC-III/Data/FINAL/Lab/LABORATORY_VALUE_24h_mean.csv')
# df_mean = pd.read_csv('~/project/MIMIC-III/Data/FINAL/Lab/LABORATORY_VALUE_24h_max.csv')
# df_mean = pd.read_csv('~/project/MIMIC-III/Data/FINAL/Lab/LABORATORY_VALUE_24h_min.csv')
df_mean

        SUBJECT_ID  HADM_ID  ITEMID    VALUENUM
0              101   175533   50801  622.000000
1              101   175533   50802   -9.000000
2              101   175533   50804   16.750000
3              101   175533   50808    1.053333
4              101   175533   50809  218.000000
...            ...      ...     ...         ...
121511       32800   179038   51478  100.000000
121512       32800   179038   51484   50.000000
121513       32800   179038   51491    5.000000
121514       32800   179038   51498    1.020500
121515       32800   179038   51514    1.000000

[121516 rows x 4 columns]

In [43]:
# df_mean을 pivot_table로 변환
pivot_table = df_mean.pivot_table(index=['SUBJECT_ID', 'HADM_ID'], columns='ITEMID', values='VALUENUM', aggfunc='first')

# pivot_table을 patients DataFrame과 병합
patients = patients[['SUBJECT_ID', 'HADM_ID']].merge(pivot_table, on=['SUBJECT_ID', 'HADM_ID'], how='left')

# 결과 출력
patients

,SUBJECT_ID,HADM_ID,50801,50802,50803,50804,50805,50806,50808,50809,...,51492,51493,51497,51498,51501,51507,51514,51516,51517,51519
0,101,175533,622.0,-9.000000,NaN,16.750000,NaN,NaN,1.053333,218.00,...,NaN,229.0,NaN,1.0225,NaN,NaN,0.2,5.0,NaN,NaN
1,111,192123,NaN,-3.444444,NaN,25.333333,NaN,NaN,NaN,137.00,...,NaN,112.0,NaN,1.0200,NaN,NaN,NaN,3.0,NaN,NaN
2,141,168006,350.0,-7.250000,NaN,17.625000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.2,NaN,NaN,NaN
3,148,199488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,NaN,1.0100,NaN,NaN,NaN,3.0,NaN,NaN
4,170,175350,NaN,2.500000,NaN,27.500000,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2277,32763,160695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,1.0220,NaN,NaN,NaN,NaN,NaN,NaN
2278,32779,133757,NaN,-4.833333,NaN,23.000000,NaN,NaN,NaN,NaN,...,NaN,51.5,NaN,1.0225,NaN,NaN,NaN,1.5,NaN,NaN
2279,32781,142684,269.0,-10.666667,NaN,15.000000,NaN,NaN,1.010000,NaN,...,NaN,9.0,NaN,1.0250,NaN,NaN,4.0,9.0,NaN,NaN
2280,32786,165351,NaN,-2.200000,NaN,22.400000,NaN,106.0,1.060000,151.00,...,100.0,NaN,NaN,1.0270,NaN,NaN,NaN,NaN,NaN,NaN
2281,32800,179038,NaN,-15.500000,NaN,10.000000,0.7,110.0,1.025000,153.25,...,NaN,NaN,NaN,1.0205,NaN,NaN,1.0,NaN,NaN,NaN

In [44]:
# 칼럼 별로 관측되지 않은 laboratory value 값(0) 비율 확인 
zero_ratios = (patients == 0).sum() / len(patients)
zero_ratios = zero_ratios.to_frame()[2:]
zero_ratios = zero_ratios.reset_index().rename(columns={'index': 'ITEMID', 0:'ZERO_RATIOS'})
zero_ratios = pd.merge(zero_ratios, result[["ITEMID", "LABEL", "FLUID"]], on='ITEMID')
zero_ratios = zero_ratios.reindex(columns=["ITEMID", "LABEL", "FLUID", "ZERO_RATIOS"])
zero_ratios = zero_ratios.sort_values(by='ZERO_RATIOS', ascending=True)
zero_ratios

     ITEMID                       LABEL    FLUID  ZERO_RATIOS
0     50801  Alveolar-arterial Gradient    Blood     0.000000
163   51104        Urea Nitrogen, Urine    Urine     0.000000
164   51105            Uric Acid, Urine    Urine     0.000000
165   51110        Atypical Lymphocytes  Ascites     0.000000
166   51114                 Eosinophils  Ascites     0.000000
..      ...                         ...      ...          ...
284   51476            Epithelial Cells    Urine     0.231814
185   51143        Atypical Lymphocytes    Blood     0.235758
186   51144                       Bands    Blood     0.247152
187   51146                   Basophils    Blood     0.258107
215   51255                  Myelocytes    Blood     0.271691

[301 rows x 4 columns]

In [45]:
# 칼럼 별로 결측치 비율 확인
missing_value_ratios = (patients.isnull().sum() / len(patients)).to_frame().reset_index()
missing_value_ratios = missing_value_ratios.rename(columns={'index': 'ITEMID', 0: 'MISSING_VALUE_RATIOS'})
missing_value_ratios = pd.merge(missing_value_ratios, result[["ITEMID", "LABEL", "FLUID"]], on='ITEMID')
missing_value_ratios = missing_value_ratios.reindex(columns=["ITEMID", "LABEL", "FLUID", "MISSING_VALUE_RATIOS"])
missing_value_ratios = missing_value_ratios.sort_values(by='MISSING_VALUE_RATIOS', ascending=True)
missing_value_ratios

    ITEMID                         LABEL        FLUID  MISSING_VALUE_RATIOS
70   50912                    Creatinine        Blood              0.001753
123  51006                 Urea Nitrogen        Blood              0.002191
200  51221                    Hematocrit        Blood              0.003067
220  51265                Platelet Count        Blood              0.003506
103  50971                     Potassium        Blood              0.003944
..     ...                           ...          ...                   ...
183  51139  Anticardiolipin Antibody IgM        Blood              0.999562
182  51138  Anticardiolipin Antibody IgG        Blood              0.999562
174  51124                        Plasma      Ascites              0.999562
251  51377             Mesothelial Cells  Joint Fluid              0.999562
150  51072                Amylase, Urine        Urine              0.999562

[301 rows x 4 columns]

In [46]:
################ Missing Value 설정 ################

# 관측되지 않은 값이 n% 미만인 ITEMID만 선정
data = missing_value_ratios[missing_value_ratios['MISSING_VALUE_RATIOS'] <= 1.0]
below_list = data['ITEMID'].tolist()
print("ITEMID 개수:", len(below_list))
# data

ITEMID 개수: 301

In [47]:
# mean_patients에서 관측되지 않은 값이 n%이하인 칼럼의 값만 가져오기
i_list = ['SUBJECT_ID', 'HADM_ID']
i_list.extend(data['ITEMID'].tolist())

result1 = patients[i_list]

# 각 열의 median 값을 계산하고 NaN을 해당 median 값으로 채웁니다.
for col in result1.columns:
    median_val = result1[col].median()
    result1[col].fillna(median_val, inplace=True)

# 칼럼 명 변경을 위해 dict 생성 후 rename
id_dict = dict(zip(data['ITEMID'], data['LABEL']))
result1 = result1.rename(columns=id_dict)
result1

/home/watercar99/.local/lib/python3.9/site-packages/pandas/core/series.py:4530: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().fillna(

,SUBJECT_ID,HADM_ID,Creatinine,Urea Nitrogen,Hematocrit,Platelet Count,Potassium,Chloride,Bicarbonate,Sodium,...,Atypical Lymphocytes,Factor VIII,Basophils,Factor V,Antithrombin,Anticardiolipin Antibody IgM,Anticardiolipin Antibody IgG,Plasma,Mesothelial Cells,"Amylase, Urine"
0,101,175533,0.925000,16.000000,34.133333,223.666667,4.100000,112.250000,14.750000,143.000000,...,1.0,44.0,1.0,90.0,55.0,5.1,1.9,2.0,5.0,104.0
1,111,192123,0.600000,12.500000,41.700000,145.500000,4.100000,107.000000,24.000000,141.000000,...,1.0,44.0,1.0,90.0,55.0,5.1,1.9,2.0,5.0,104.0
2,141,168006,1.466667,29.166667,21.280000,80.400000,4.483333,105.333333,16.666667,139.666667,...,1.0,44.0,1.0,90.0,55.0,5.1,1.9,2.0,5.0,104.0
3,148,199488,1.000000,23.000000,24.450000,29.500000,3.950000,107.500000,21.500000,142.000000,...,1.0,44.0,1.0,90.0,55.0,5.1,1.9,2.0,5.0,104.0
4,170,175350,0.700000,14.000000,32.450000,252.000000,3.900000,108.000000,24.500000,142.500000,...,1.0,44.0,1.0,90.0,55.0,5.1,1.9,2.0,5.0,104.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2277,32763,160695,1.400000,35.000000,30.200000,181.000000,4.500000,98.000000,24.000000,133.000000,...,1.0,44.0,1.0,90.0,55.0,5.1,1.9,2.0,5.0,104.0
2278,32779,133757,1.466667,30.333333,29.100000,239.333333,4.733333,114.666667,19.333333,144.666667,...,1.0,44.0,1.0,90.0,55.0,5.1,1.9,2.0,5.0,104.0
2279,32781,142684,2.025000,29.250000,29.933333,119.000000,4.280000,112.000000,14.750000,140.250000,...,1.0,44.0,1.0,90.0,55.0,5.1,1.9,2.0,5.0,104.0
2280,32786,165351,1.033333,15.666667,39.666667,340.333333,4.500000,104.666667,22.333333,139.000000,...,1.0,44.0,1.0,90.0,55.0,5.1,1.9,2.0,5.0,104.0
2281,32800,179038,1.233333,23.000000,31.625000,161.250000,3.050000,108.500000,10.000000,141.000000,...,1.0,44.0,1.0,90.0,55.0,5.1,1.9,2.0,5.0,104.0

In [48]:
# result1.to_csv("~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Final_lab(100%)_min.csv", index=False)