In [1]:
import pandas as pd
import numpy as np
from datetime import timedelta
from scipy import stats

### 1. Categorical - mode

In [2]:
df = pd.read_csv('~/project/MIMIC-III/Data/FINAL/Lab/LABORATORY_VALUE_24h_category.csv')
df

,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,LABEL
0,101,175533,50828,2196-09-26 14:04:00,CONTROLLED,NaN,Ventilator
1,101,175533,50800,2196-09-26 19:38:00,ART,NaN,SPECIMEN TYPE
2,101,175533,51484,2196-09-26 12:59:00,NEG,NaN,Ketone
3,101,175533,51486,2196-09-26 12:59:00,NEG,NaN,Leukocytes
4,101,175533,51487,2196-09-26 12:59:00,NEG,NaN,Nitrite
...,...,...,...,...,...,...,...
69360,32800,179038,50800,2189-02-02 16:23:00,ART,NaN,SPECIMEN TYPE
69361,32800,179038,50812,2189-02-02 16:23:00,INTUBATED,NaN,Intubated
69362,32800,179038,50827,2189-02-02 16:23:00,20/,NaN,Ventilation Rate
69363,32800,179038,50800,2189-02-02 17:58:00,ART,NaN,SPECIMEN TYPE
69364,32800,179038,50882,2189-02-02 19:15:00,LESS THAN 5,NaN,Bicarbonate

In [3]:
top_20_labels = df['LABEL'].value_counts().head(20).reset_index()
top_20_labels.columns = ['LABEL', 'COUNT']
top_20_items = df[df['LABEL'].isin(top_20_labels['LABEL'])][['LABEL', 'ITEMID']].drop_duplicates()
result_df = pd.merge(top_20_labels, top_20_items, on='LABEL', how='left')
result_df

               LABEL  COUNT  ITEMID
0      SPECIMEN TYPE   9629   50800
1          Intubated   4870   50812
2   Ventilation Rate   2954   50827
3        Urine Color   2017   51508
4              Blood   2016   51466
5   Urine Appearance   2016   51506
6          Bilirubin   2015   51464
7            Nitrite   2015   51487
8         Leukocytes   1951   51486
9             Ketone   1761   51484
10           Glucose   1733   51478
11           Glucose   1733   50809
12             Yeast   1683   51519
13          Bacteria   1661   51463
14        Ventilator   1462   50828
15       Hypochromia   1438   51233
16        Macrocytes   1421   51246
17      Anisocytosis   1396   51137
18      Urobilinogen   1395   51514
19        Microcytes   1352   51252
20    Poikilocytosis   1336   51267

#### 1-1. SPECIMEN TYPE(모식)

In [4]:
df1 = df[df['LABEL'] == 'SPECIMEN TYPE']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 130

In [5]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df3 = df1.groupby(['SUBJECT_ID', 'HADM_ID', "ITEMID"]).apply(mode_with_max_charttime).reset_index()
df3.columns = ['SUBJECT_ID', 'HADM_ID', 'ITEMID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/SPECIMEN TYPE.csv', index=False)

print("LABEL : SPECIMEN TYPE")
df3['VALUE'].value_counts()

LABEL : SPECIMEN TYPE

ART    1816
VEN      26
MIX       9
Name: VALUE, dtype: int64

#### 1-2. Intubated(삽관)

In [6]:
df1 = df[df['LABEL'] == 'Intubated']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 124

In [7]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df4 = df1.groupby(['SUBJECT_ID', 'HADM_ID', "ITEMID"]).apply(mode_with_max_charttime).reset_index()
df4.columns = ['SUBJECT_ID', 'HADM_ID', 'ITEMID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Intubated.csv', index=False)
print("LABEL : Intubated")
df4['VALUE'].value_counts()

LABEL : Intubated

INTUBATED        1440
NOT INTUBATED     159
Name: VALUE, dtype: int64

#### 1-3. Ventilation Rate

In [39]:
df1 = df[df['LABEL'] == 'Ventilation Rate']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 608

In [40]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df5 = df1.groupby(['SUBJECT_ID', 'HADM_ID', "ITEMID"]).apply(mode_with_max_charttime).reset_index()
df5.columns = ['SUBJECT_ID', 'HADM_ID', 'ITEMID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Ventilation Rate.csv', index=False)
print("LABEL: Ventilation Rate")
print("Unique Label:", len(df5['VALUE'].value_counts()))
print("LABEL : Ventilation Rate")
df5['VALUE'].value_counts()

LABEL: Ventilation Rate
Unique Label: 193
LABEL : Ventilation Rate

14/     90
12/     76
/12     63
16/     63
/14     62
        ..
14/7     1
14/8     1
13/2     1
10/5     1
0/18     1
Name: VALUE, Length: 193, dtype: int64

#### 1-4. Urine Color

In [43]:
df1 = df[df['LABEL'] == 'Urine Color']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 272

In [44]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df6 = df1.groupby(['SUBJECT_ID', 'HADM_ID', "ITEMID"]).apply(mode_with_max_charttime).reset_index()
df6.columns = ['SUBJECT_ID', 'HADM_ID', 'ITEMID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Urine Color.csv', index=False)
print("LABEL : Urine Color")
df6['VALUE'].value_counts()

LABEL : Urine Color

Yellow     801
Straw      415
Amber      254
LtAmb       70
YELLOW      42
Orange      18
Red         18
STRAW       14
DkAmb       13
Brown       12
AMBER        8
RED          3
None         1
Black        1
PINK         1
Lt           1
GREEN        1
Other        1
Pink         1
DKAMBER      1
Name: VALUE, dtype: int64

#### 1-5. Blood

In [45]:
df1 = df[df['LABEL'] == 'Blood']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 374

In [46]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df7 = df1.groupby(['SUBJECT_ID', 'HADM_ID', "ITEMID"]).apply(mode_with_max_charttime).reset_index()
df7.columns = ['SUBJECT_ID', 'HADM_ID', 'ITEMID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Blood.csv', index=False)
print("LABEL : Blood")
df7['VALUE'].value_counts()

LABEL : Blood

LG     552
NEG    493
MOD    190
SM     185
LGE    135
TR     120
Name: VALUE, dtype: int64

#### 1-6. Urine Appearance

In [47]:
df1 = df[df['LABEL'] == 'Urine Appearance']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 232

In [48]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df8 = df1.groupby(['SUBJECT_ID', 'HADM_ID', "ITEMID"]).apply(mode_with_max_charttime).reset_index()
df8.columns = ['SUBJECT_ID', 'HADM_ID', 'ITEMID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Urine Appearance.csv', index=False)
print("LABEL : Urine Appearance")
df8['VALUE'].value_counts()

LABEL : Urine Appearance

Clear       1161
Hazy         217
Cloudy       151
SlHazy        66
CLEAR         33
SlCldy        17
HAZY          10
SLHAZY         9
CLOUDY         7
SlCloudy       4
Name: VALUE, dtype: int64

#### 1-7. Nitrite

In [49]:
df1 = df[df['LABEL'] == 'Nitrite']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 46

In [50]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df9 = df1.groupby(['SUBJECT_ID', 'HADM_ID', "ITEMID"]).apply(mode_with_max_charttime).reset_index()
df9.columns = ['SUBJECT_ID', 'HADM_ID', 'ITEMID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Nitrite.csv', index=False)

print("LABEL : Nitrite")
df9['VALUE'].value_counts()

LABEL : Nitrite

NEG    1584
POS      91
Name: VALUE, dtype: int64

#### 1-8. Bilirubin

In [51]:
df1 = df[df['LABEL'] == 'Bilirubin']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 104

In [52]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df10 = df1.groupby(['SUBJECT_ID', 'HADM_ID', "ITEMID"]).apply(mode_with_max_charttime).reset_index()
df10.columns = ['SUBJECT_ID', 'HADM_ID', 'ITEMID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Bilirubin.csv', index=False)

print("LABEL : Bilirubin")
df10['VALUE'].value_counts()

LABEL : Bilirubin

NEG    1419
SM      172
MOD      53
LG       31
Name: VALUE, dtype: int64

#### 1-9. Leukocytes

In [53]:
df1 = df[df['LABEL'] == 'Leukocytes']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 166

In [54]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df11 = df1.groupby(['SUBJECT_ID', 'HADM_ID', "ITEMID"]).apply(mode_with_max_charttime).reset_index()
df11.columns = ['SUBJECT_ID', 'HADM_ID', 'ITEMID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Leukocytes.csv', index=False)
print("LABEL : Leukocytes")
df11['VALUE'].value_counts()

LABEL : Leukocytes

NEG    1244
MOD     152
SM      111
TR      101
LG       10
Name: VALUE, dtype: int64

#### 1-10. Ketone

In [55]:
df1 = df[df['LABEL'] == 'Ketone']
# df1[df1['VALUE']==">80"]
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 112

In [56]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df12 = df1.groupby(['SUBJECT_ID', 'HADM_ID', "ITEMID"]).apply(mode_with_max_charttime).reset_index()
df12.columns = ['SUBJECT_ID', 'HADM_ID','ITEMID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Ketone.csv', index=False)
print("LABEL : Ketone")
df12['VALUE'].value_counts()

LABEL : Ketone

NEG    1189
TR      307
>80       5
Name: VALUE, dtype: int64

#### 1-11/12. Glucose(51478/50809)

In [57]:
# df1 = df[df['LABEL'] == 'Glucose']
df1 = df[df['ITEMID'] == 51478]
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 36

In [58]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df13 = df1.groupby(['SUBJECT_ID', 'HADM_ID', "ITEMID"]).apply(mode_with_max_charttime).reset_index()
df13.columns = ['SUBJECT_ID', 'HADM_ID', 'ITEMID', 'VALUE']
df13['ITEMID'] = 51478
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Glucose.csv', index=False)
print("LABEL : Glucose")
df13['VALUE'].value_counts()

LABEL : Glucose

NEG      1360
TR         97
>1000      14
Name: VALUE, dtype: int64

#### 1-13. Yeast

In [59]:
df1 = df[df['LABEL'] == 'Yeast']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 40

In [60]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df14 = df1.groupby(['SUBJECT_ID', 'HADM_ID', "ITEMID"]).apply(mode_with_max_charttime).reset_index()
df14.columns = ['SUBJECT_ID', 'HADM_ID', 'ITEMID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Yeast.csv', index=False)
print("LABEL : Yeast")
df14['VALUE'].value_counts()

LABEL : Yeast

NONE       1326
FEW          26
MANY         24
MOD          22
OCC          17
RARE          9
              3
NOTDONE       1
Name: VALUE, dtype: int64

#### 1-14. Bacteria

In [61]:
df1 = df[df['LABEL'] == 'Bacteria']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 282

In [62]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df15 = df1.groupby(['SUBJECT_ID', 'HADM_ID', "ITEMID"]).apply(mode_with_max_charttime).reset_index()
df15.columns = ['SUBJECT_ID', 'HADM_ID', 'ITEMID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Bacteria.csv', index=False)
print("LABEL : Bacteria")
df15['VALUE'].value_counts()

LABEL : Bacteria

NONE       359
FEW        342
OCC        216
MOD        180
MANY       160
RARE       126
NEG         26
             3
NOTDONE      1
F            1
Name: VALUE, dtype: int64

#### 1-15. Ventilator

In [63]:
# 24h mode 가져오기, mode 2개인 경우 가장 최근 값으로
df1 = df[df['LABEL'] == 'Ventilator']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 122

In [64]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df16 = df1.groupby(['SUBJECT_ID', 'HADM_ID', "ITEMID"]).apply(mode_with_max_charttime).reset_index()
df16.columns = ['SUBJECT_ID', 'HADM_ID', 'ITEMID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Ventilator.csv', index=False)
print("LABEL : Ventilator")
df16['VALUE'].value_counts()

LABEL : Ventilator

CONTROLLED     476
SPONTANEOUS    187
IMV            149
Name: VALUE, dtype: int64

#### 1-16. Hypochromia

In [65]:
df1 = df[df['LABEL'] == 'Hypochromia']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 142

In [66]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df17 = df1.groupby(['SUBJECT_ID', 'HADM_ID', "ITEMID"]).apply(mode_with_max_charttime).reset_index()
df17.columns = ['SUBJECT_ID', 'HADM_ID', 'ITEMID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Hypochromia.csv', index=False)
print("LABEL : Hypochromia")
df17['VALUE'].value_counts()

LABEL : Hypochromia

NORMAL        606
1+            289
2+            121
3+            109
OCCASIONAL     24
Name: VALUE, dtype: int64

#### 1-17. Macrocytes

In [67]:
df1 = df[df['LABEL'] == 'Macrocytes']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 158

In [68]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df18 = df1.groupby(['SUBJECT_ID', 'HADM_ID', "ITEMID"]).apply(mode_with_max_charttime).reset_index()
df18.columns = ['SUBJECT_ID', 'HADM_ID', 'ITEMID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Macrocytes.csv', index=False)
print("LABEL : Macrocytes")
df18['VALUE'].value_counts()

LABEL : Macrocytes

NORMAL        633
1+            302
2+            117
3+             50
OCCASIONAL     39
Name: VALUE, dtype: int64

#### 1-18. Anisocytosis

In [69]:
df1 = df[df['LABEL'] == 'Anisocytosis']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 160

In [70]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df19 = df1.groupby(['SUBJECT_ID', 'HADM_ID', "ITEMID"]).apply(mode_with_max_charttime).reset_index()
df19.columns = ['SUBJECT_ID', 'HADM_ID', 'ITEMID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Anisocytosis.csv', index=False)
print("LABEL : Anisocytosis")
df19['VALUE'].value_counts()

LABEL : Anisocytosis

NORMAL        481
1+            450
2+            138
OCCASIONAL     29
3+             18
Name: VALUE, dtype: int64

#### 1-19. Urobilinogen

In [71]:
df1 = df[df['LABEL'] == 'Urobilinogen']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 0

In [72]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df20 = df1.groupby(['SUBJECT_ID', 'HADM_ID', "ITEMID"]).apply(mode_with_max_charttime).reset_index()
df20.columns = ['SUBJECT_ID', 'HADM_ID', 'ITEMID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Urobilinogen.csv', index=False)
print("LABEL : Urobilinogen")
df20['VALUE'].value_counts()

LABEL : Urobilinogen

NEG    1184
>8        1
          1
Name: VALUE, dtype: int64

#### 1-20. Poikilocytosis

In [73]:
df1 = df[df['LABEL'] == 'Poikilocytosis']
# df1['VALUE'].value_counts()

mode_counts = df1.groupby(['SUBJECT_ID', 'HADM_ID'])['VALUE'].transform(lambda x: x.mode().count())
count_of_double_modes = (mode_counts == 2).sum()
print("SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수:", count_of_double_modes)

SUBJECT_ID와 HADM_ID 별로 mode 값이 두 개인 경우의 개수: 154

In [74]:
def mode_with_max_charttime(x):
    mode_value = stats.mode(x['VALUE'])[0][0]  
    max_charttime = x[x['VALUE'] == mode_value]['CHARTTIME'].max()  
    return mode_value

df21 = df1.groupby(['SUBJECT_ID', 'HADM_ID', "ITEMID"]).apply(mode_with_max_charttime).reset_index()
df21.columns = ['SUBJECT_ID', 'HADM_ID', 'ITEMID', 'VALUE']
# df2.to_csv('~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/Poikilocytosis.csv', index=False)
print("LABEL : Poikilocytosis")
df21['VALUE'].value_counts()

LABEL : Poikilocytosis

NORMAL        585
1+            332
OCCASIONAL     76
2+             70
3+             11
Name: VALUE, dtype: int64

In [75]:
dfs = [df6, df8, df10, df15, df16, df18, df19, df21] 

# 모든 데이터프레임을 합치기
merged_df = pd.concat(dfs)

# Pivot 테이블 생성
pivot_table = pd.pivot_table(merged_df, index=['SUBJECT_ID', 'HADM_ID'], columns='ITEMID', values='VALUE', aggfunc=lambda x: x)

data = pd.read_csv('~/project/MIMIC-III/Data/OI&OSI/new_OI&OSI(down).csv')
data = data[['SUBJECT_ID', 'HADM_ID', 'y']]
data

# 두 개의 데이터프레임을 SUBJECT_ID 및 HADM_ID를 기준으로 병합
merged_df = pd.merge(data, pivot_table, on=['SUBJECT_ID', 'HADM_ID'], how='outer')

# 칼럼 명 변경을 위해 dict 생성 후 rename
id_dict = dict(zip(result_df['ITEMID'], result_df['LABEL']))
result = merged_df.rename(columns=id_dict)
result

,SUBJECT_ID,HADM_ID,y,Ventilator,Anisocytosis,Macrocytes,Poikilocytosis,Bacteria,Bilirubin,Urine Appearance,Urine Color
0,101,175533,1,CONTROLLED,NaN,NaN,NaN,FEW,NEG,Hazy,Yellow
1,111,192123,0,NaN,NORMAL,2+,NORMAL,MOD,NEG,SlCloudy,Yellow
2,141,168006,1,CONTROLLED,NORMAL,NORMAL,NORMAL,NONE,NEG,SlHazy,Yellow
3,148,199488,0,NaN,1+,1+,1+,NONE,NEG,Clear,Straw
4,170,175350,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
2277,32763,160695,1,NaN,NORMAL,NORMAL,1+,RARE,NEG,Clear,Yellow
2278,32779,133757,1,CONTROLLED,NORMAL,NORMAL,NORMAL,NONE,NEG,Clear,Yellow
2279,32781,142684,0,NaN,1+,NORMAL,1+,FEW,LG,Hazy,Orange
2280,32786,165351,0,NaN,NaN,NaN,NaN,FEW,NEG,Clear,Yellow
2281,32800,179038,0,NaN,1+,2+,NORMAL,RARE,NEG,Clear,Yellow

In [477]:
# result.to_csv("~/project/MIMIC-III/Data/FINAL/FINAL_LAB/Categorical/top20.csv", index=False)

In [78]:
# pre-processing result
result = result.applymap(lambda x: x.upper() if isinstance(x, str) else x)

# 1. df5 - ventilation rate - unique value가 너무 많음 


# 2. df6 - urine color - yellow, straw, amber, other
result['Urine Color'].replace(['AMBER', 'LTAMB', 'DKAMB', 'DKAMBER'], 'AMBER', inplace=True)
result.loc[~result['Urine Color'].isin(['YELLOW', 'STRAW', 'AMBER']), 'Urine Color'] = 'OTHER'


# 3. df8 - urin appearance - clear, hazy, cloudy
result['Urine Appearance'].replace(['HAZY', 'SLHAZY'], 'AMBER', inplace=True)
result['Urine Appearance'].replace(['CLOUDY', 'SLCLDY', 'SLCLOUDY'], 'CLOUDY', inplace=True)

# 4. df15 - bacteria - MOD, OCC, other
result.loc[~result['Bacteria'].isin(['MOD', 'OCC']), 'Bacteria'] = 'OTHER'
result

# # 5. 결측치를 각 칼럼의 mode 값으로 채우기
# mode_values = result.mode().iloc[0]
# result.fillna(mode_values, inplace=True)
# result

# # 특정 칼럼 카운트
# column_count = result['Urine Appearance'].value_counts()
# print(column_count)

# result.to_csv("~/project/MIMIC-III/Data Extract/Tabular Data/FINAL Data Extract/DATA/FINAL_cat.csv", index=False)

,SUBJECT_ID,HADM_ID,y,Ventilator,Anisocytosis,Macrocytes,Poikilocytosis,Bacteria,Bilirubin,Urine Appearance,Urine Color
0,101,175533,1,CONTROLLED,NaN,NaN,NaN,OTHER,NEG,AMBER,YELLOW
1,111,192123,0,NaN,NORMAL,2+,NORMAL,MOD,NEG,CLOUDY,YELLOW
2,141,168006,1,CONTROLLED,NORMAL,NORMAL,NORMAL,OTHER,NEG,AMBER,YELLOW
3,148,199488,0,NaN,1+,1+,1+,OTHER,NEG,CLEAR,STRAW
4,170,175350,0,NaN,NaN,NaN,NaN,OTHER,NaN,NaN,OTHER
...,...,...,...,...,...,...,...,...,...,...,...
2277,32763,160695,1,NaN,NORMAL,NORMAL,1+,OTHER,NEG,CLEAR,YELLOW
2278,32779,133757,1,CONTROLLED,NORMAL,NORMAL,NORMAL,OTHER,NEG,CLEAR,YELLOW
2279,32781,142684,0,NaN,1+,NORMAL,1+,OTHER,LG,AMBER,OTHER
2280,32786,165351,0,NaN,NaN,NaN,NaN,OTHER,NEG,CLEAR,YELLOW
2281,32800,179038,0,NaN,1+,2+,NORMAL,OTHER,NEG,CLEAR,YELLOW

### 2. Numerical - mean, max, min

In [162]:
result = pd.read_csv('~/project/MIMIC-III/Data/FINAL/Lab/Lab_Result.csv')
patients = pd.read_csv('~/project/MIMIC-III/Data/OI&OSI/new_OI&OSI(down).csv')

# df_mean = pd.read_csv('~/project/MIMIC-III/Data/FINAL/Lab/LABORATORY_VALUE_24h_mean.csv')
df_mean = pd.read_csv('~/project/MIMIC-III/Data/FINAL/Lab/LABORATORY_VALUE_24h_max.csv')
# df_mean = pd.read_csv('~/project/MIMIC-III/Data/FINAL/Lab/LABORATORY_VALUE_24h_min.csv')
df_mean

        SUBJECT_ID  HADM_ID  ITEMID  VALUENUM
0              101   175533   50801   622.000
1              101   175533   50802    -3.000
2              101   175533   50804    20.000
3              101   175533   50808     1.070
4              101   175533   50809   218.000
...            ...      ...     ...       ...
121511       32800   179038   51478   100.000
121512       32800   179038   51484    50.000
121513       32800   179038   51491     5.000
121514       32800   179038   51498     1.031
121515       32800   179038   51514     1.000

[121516 rows x 4 columns]

In [163]:
# df_mean을 pivot_table로 변환
pivot_table = df_mean.pivot_table(index=['SUBJECT_ID', 'HADM_ID'], columns='ITEMID', values='VALUENUM', aggfunc='first')

# pivot_table을 patients DataFrame과 병합
patients = patients[['SUBJECT_ID', 'HADM_ID']].merge(pivot_table, on=['SUBJECT_ID', 'HADM_ID'], how='left')

# 결과 출력
patients

,SUBJECT_ID,HADM_ID,50801,50802,50803,50804,50805,50806,50808,50809,...,51492,51493,51497,51498,51501,51507,51514,51516,51517,51519
0,101,175533,622.0,-3.0,NaN,20.0,NaN,NaN,1.07,218.0,...,NaN,229.0,NaN,1.025,NaN,NaN,0.2,5.0,NaN,NaN
1,111,192123,NaN,-2.0,NaN,29.0,NaN,NaN,NaN,137.0,...,NaN,112.0,NaN,1.020,NaN,NaN,NaN,3.0,NaN,NaN
2,141,168006,350.0,-3.0,NaN,22.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,0.2,NaN,NaN,NaN
3,148,199488,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,3.0,NaN,1.010,NaN,NaN,NaN,3.0,NaN,NaN
4,170,175350,NaN,3.0,NaN,28.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2277,32763,160695,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,0.0,NaN,1.022,NaN,NaN,NaN,NaN,NaN,NaN
2278,32779,133757,NaN,-3.0,NaN,24.0,NaN,NaN,NaN,NaN,...,NaN,88.0,NaN,1.025,NaN,NaN,NaN,3.0,NaN,NaN
2279,32781,142684,269.0,-9.0,NaN,17.0,NaN,NaN,1.08,NaN,...,NaN,9.0,NaN,1.025,NaN,NaN,4.0,9.0,NaN,NaN
2280,32786,165351,NaN,0.0,NaN,24.0,NaN,106.0,1.06,151.0,...,100.0,NaN,NaN,1.027,NaN,NaN,NaN,NaN,NaN,NaN
2281,32800,179038,NaN,-4.0,NaN,18.0,0.7,111.0,1.09,192.0,...,NaN,NaN,NaN,1.031,NaN,NaN,1.0,NaN,NaN,NaN

In [164]:
# # 칼럼 별로 관측되지 않은 laboratory value 값(0) 비율 확인 
# zero_ratios = (patients == 0).sum() / len(patients)
# zero_ratios = zero_ratios.to_frame()[2:]
# zero_ratios = zero_ratios.reset_index().rename(columns={'index': 'ITEMID', 0:'ZERO_RATIOS'})
# zero_ratios = pd.merge(zero_ratios, result[["ITEMID", "LABEL", "FLUID"]], on='ITEMID')
# zero_ratios = zero_ratios.reindex(columns=["ITEMID", "LABEL", "FLUID", "ZERO_RATIOS"])
# zero_ratios = zero_ratios.sort_values(by='ZERO_RATIOS', ascending=True)
# zero_ratios

In [165]:
# 칼럼 별로 결측치 비율 확인
missing_value_ratios = (patients.isnull().sum() / len(patients)).to_frame().reset_index()
missing_value_ratios = missing_value_ratios.rename(columns={'index': 'ITEMID', 0: 'MISSING_VALUE_RATIOS'})
missing_value_ratios = pd.merge(missing_value_ratios, result[["ITEMID", "LABEL", "FLUID"]], on='ITEMID')
missing_value_ratios = missing_value_ratios.reindex(columns=["ITEMID", "LABEL", "FLUID", "MISSING_VALUE_RATIOS"])
missing_value_ratios = missing_value_ratios.sort_values(by='MISSING_VALUE_RATIOS', ascending=True)
missing_value_ratios

    ITEMID                         LABEL        FLUID  MISSING_VALUE_RATIOS
70   50912                    Creatinine        Blood              0.001753
123  51006                 Urea Nitrogen        Blood              0.002191
200  51221                    Hematocrit        Blood              0.003067
220  51265                Platelet Count        Blood              0.003506
103  50971                     Potassium        Blood              0.003944
..     ...                           ...          ...                   ...
183  51139  Anticardiolipin Antibody IgM        Blood              0.999562
182  51138  Anticardiolipin Antibody IgG        Blood              0.999562
174  51124                        Plasma      Ascites              0.999562
251  51377             Mesothelial Cells  Joint Fluid              0.999562
150  51072                Amylase, Urine        Urine              0.999562

[301 rows x 4 columns]

In [181]:
################ Missing Value 설정 ################

# 관측되지 않은 값이 n% 미만인 ITEMID만 선정
data = missing_value_ratios[missing_value_ratios['MISSING_VALUE_RATIOS'] <= 1.0]
below_list = data['ITEMID'].tolist()
print("ITEMID 개수:", len(below_list))
# data

ITEMID 개수: 301

In [182]:
# mean_patients에서 관측되지 않은 값이 n%이하인 칼럼의 값만 가져오기
i_list = ['SUBJECT_ID', 'HADM_ID']
i_list.extend(data['ITEMID'].tolist())

result1 = patients[i_list]

# # 각 열의 median 값을 계산하고 NaN을 해당 median 값으로 채웁니다.
# for col in result1.columns:
#     median_val = result1[col].median()
#     result1[col].fillna(median_val, inplace=True)

# 칼럼 명 변경을 위해 dict 생성 후 rename
id_dict = dict(zip(data['ITEMID'], data['LABEL']))
result1 = result1.rename(columns=id_dict)
result1

,SUBJECT_ID,HADM_ID,Creatinine,Urea Nitrogen,Hematocrit,Platelet Count,Potassium,Chloride,Bicarbonate,Sodium,...,Atypical Lymphocytes,Factor VIII,Basophils,Factor V,Antithrombin,Anticardiolipin Antibody IgM,Anticardiolipin Antibody IgG,Plasma,Mesothelial Cells,"Amylase, Urine"
0,101,175533,1.1,17.0,35.0,243.0,4.6,116.0,18.0,146.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,111,192123,0.6,13.0,46.0,160.0,4.2,110.0,26.0,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,141,168006,1.6,33.0,30.5,150.0,5.1,109.0,19.0,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,148,199488,1.2,30.0,25.0,39.0,4.2,110.0,23.0,144.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,170,175350,0.7,15.0,33.7,266.0,4.0,109.0,25.0,143.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2277,32763,160695,1.4,35.0,30.2,181.0,4.5,98.0,24.0,133.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2278,32779,133757,1.6,31.0,33.9,266.0,5.2,118.0,20.0,146.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2279,32781,142684,2.2,33.0,34.6,153.0,4.9,116.0,18.0,141.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2280,32786,165351,1.1,18.0,44.7,374.0,4.7,109.0,23.0,140.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2281,32800,179038,1.4,25.0,35.4,226.0,3.6,109.0,10.0,142.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [183]:
result1.to_csv("~/project/MIMIC-III/Data Extract/Tabular Data/FINAL Data Extract/DATA/Numerical/Final_lab(100%)_max.csv", index=False)