In [1]:
import pandas as pd

In [18]:
df = pd.read_csv("~/project/MIMIC-III/Data/FINAL/FINAL_Demo+LAB/FINAL_Demo_Lab(1%).csv")

FiO2 = pd.read_csv("~/project/MIMIC-III/Data/OI&OSI/FiO2(all).csv")
MAP = pd.read_csv("~/project/MIMIC-III/Data/OI&OSI/MAP(all).csv")
PaO2 = pd.read_csv("~/project/MIMIC-III/Data/OI&OSI/PaO2(all).csv")
SpO2 = pd.read_csv("~/project/MIMIC-III/Data/OI&OSI/SpO2(all).csv")

In [19]:
df = pd.merge(df, FiO2, on=['SUBJECT_ID', 'HADM_ID'], how='left')
df = pd.merge(df, MAP, on=['SUBJECT_ID', 'HADM_ID'], how='left')
df = pd.merge(df, PaO2, on=['SUBJECT_ID', 'HADM_ID'], how='left')
df = pd.merge(df, SpO2, on=['SUBJECT_ID', 'HADM_ID'], how='left')

In [20]:
df.to_csv("~/project/MIMIC-III/Data/FINAL/FINAL_Demo+Lab+Chart/FINAL_Demo_Lab_Chart(1%).csv", index=False)
df

,SUBJECT_ID,HADM_ID,TLOS,AGE,DOA,ETHNICITY,GENDER,LOS,Creatinine_mean,Urea Nitrogen_mean,...,FiO2_Min,MAP_mean,MAP_max,MAP_min,PaO2_mean,PaO2_max,PaO2_min,SpO2_mean,SpO2_max,SpO2_min
0,101,175533,15 days 18:41:00,82,15 days 18:41:00,ASIAN,M,9.8919,0.925000,16.000000,...,0.4,13.450000,19.4,6.0,115.428571,155.0,78.0,97.483871,100.0,67.0
1,111,192123,11 days 04:50:00,66,NaN,WHITE,F,10.5708,0.600000,12.500000,...,0.4,10.666667,11.0,10.0,153.800000,289.0,107.0,97.400000,100.0,92.0
2,141,168006,3 days 09:29:00,80,3 days 09:29:00,OTHER,M,3.4765,1.466667,29.166667,...,0.4,13.100000,16.0,10.6,129.857143,337.0,52.0,87.269231,100.0,0.0
3,148,199488,32 days 22:37:00,78,NaN,UNKNOWN/NOT SPECIFIED,F,15.2614,1.000000,23.000000,...,1.0,7.000000,7.0,7.0,96.000000,144.0,48.0,93.086957,100.0,0.0
4,170,175350,4 days 00:00:00,71,NaN,WHITE,F,3.7791,0.700000,14.000000,...,0.3,9.571429,10.0,9.0,183.000000,212.0,154.0,96.816092,100.0,90.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2277,32763,160695,33 days 20:31:00,79,33 days 20:31:00,WHITE,M,31.0886,1.400000,35.000000,...,0.4,10.714286,11.0,10.0,168.000000,227.0,127.0,96.481481,100.0,90.0
2278,32779,133757,6 days 14:39:00,69,6 days 14:39:00,WHITE,F,7.1648,1.466667,30.333333,...,0.4,19.125000,22.0,11.0,203.000000,428.0,53.0,95.813725,100.0,90.0
2279,32781,142684,22 days 14:41:00,86,NaN,WHITE,M,9.8333,2.025000,29.250000,...,0.4,12.500000,16.0,10.0,245.800000,425.0,192.0,96.494624,100.0,88.0
2280,32786,165351,22 days 14:34:00,53,NaN,WHITE,M,22.6358,1.033333,15.666667,...,0.6,12.133333,14.4,9.0,143.500000,209.0,56.0,95.152174,100.0,87.0
2281,32800,179038,9 days 16:07:00,60,NaN,UNKNOWN/NOT SPECIFIED,F,2.0783,1.233333,23.000000,...,0.5,12.000000,14.0,8.0,193.400000,295.0,111.0,96.642857,100.0,90.0