In [453]:
import pandas as pd
import re

##### 0. ITEMID

In [472]:
df = pd.read_csv("/data/PUBLIC_DATA/MIMIC-III/D_ITEMS.csv")
df

,ROW_ID,ITEMID,LABEL,ABBREVIATION,DBSOURCE,LINKSTO,CATEGORY,UNITNAME,PARAM_TYPE,CONCEPTID
0,457,497,Patient controlled analgesia (PCA) [Inject],NaN,carevue,chartevents,NaN,NaN,NaN,NaN
1,458,498,PCA Lockout (Min),NaN,carevue,chartevents,NaN,NaN,NaN,NaN
2,459,499,PCA Medication,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
3,460,500,PCA Total Dose,NaN,carevue,chartevents,NaN,NaN,NaN,NaN
4,461,501,PCV Exh Vt (Obser),NaN,carevue,chartevents,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
12482,14518,226757,GCSMotorApacheIIValue,GCSMotorApacheIIValue,metavision,chartevents,Scores - APACHE II,NaN,Text,NaN
12483,14519,226758,GCSVerbalApacheIIValue,GCSVerbalApacheIIValue,metavision,chartevents,Scores - APACHE II,NaN,Text,NaN
12484,14520,226759,HCO3ApacheIIValue,HCO3ApacheIIValue,metavision,chartevents,Scores - APACHE II,None,Numeric,NaN
12485,14521,226760,HCO3Score,HCO3Score,metavision,chartevents,Scores - APACHE II,None,Numeric,NaN
12486,14522,226761,HematocritApacheIIScore,HematocritApacheIIScore,metavision,chartevents,Scores - APACHE II,None,Numeric,NaN

In [473]:
# print(list(df['CATEGORY'].unique()))

In [474]:
# print(list(df['LABEL'].unique()))

1. age - Demograhpic Data로 출생년도와 입원날짜로 age 계산했음

2. white blood cell(WBC) count
    ✅'whitebloodc 4.0-11.0': 백혈구 수, 정상 범위까지 함께 포함해 보다 구체적 
    'wbc': 백혈구 수
   
3. serum creatinine
    ✅'creatinine': 크레아티닌 수치
    ✅'urine creatinine': 요 중의 크레아티닌 수치
    'creatinine (0-1.3)': 크레아티닌 수치 범위 (0-1.3 mg/dL)
    'creatinine (0-0.7)': 크레아티닌 수치 범위 (0-0.7 mg/dL)

4. albumin
    ✅'albumin': 혈액 속 albumin 농도 (g/dL)

5. platelet count
    ✅'platelets': 혈소판 수
    ✅'platelet count': 혈소판 수
    'platelet (150-440)': 혈소판 수의 정상 범위
    'or platelets': ?
    'zplatelet count': ?

6. pH
    ✅'ph': Power of Hydrogen의 약자로 용액의 수소 이온(H+) 농도
    ✅'ph (venous)': 정맥 혈액의 pH
    ✅'ph (arterial)': 혈액 내 pH
    ✅'arterial ph': 혈액 내 pH
    ✅'ph (art)': 혈액 내 pH
    ✅'urine ph': 소변 샘플의 pH 
    'gi ph': 위장관에서의 pH
    'ph (dipstick)': 일반적으로 화학 방법을 사용하여 검체의 산성도를 측정
    'ph (other)': 뇌척수와 같은 다른 형태의 체액으로 측정한 pH
    'ph (cap)': 동맥주사나 중심정맥 카테터를 통해 채취한 혈액 샘플의 pH
    'sj ph': ? 
    
7. lactate level
    ?

8. FiO2
    ✅'fio2': 산소공급량(FiO2)
    
9. PaO2
    ✅'pao2': 폐에서 산소분압 측정
    ✅'arterial pao2': 동맥혈에서 산소분압

10. heart rate
    ✅'heart rate': 심박수

11. temperature(3개)
    ✅'temperature c': 체온 (섭씨)
    'temperature c (calc)': 계산된 체온 (섭씨)
    'temperature f (calc)': 계산된 체온 (화씨)

12. body mass index(BMI) - Demographic data로 CHARTEVENTS table에 있음

In [475]:
# 1. ARDS 논문의 12개 feature + ChatGPT에게 물어본 General한 LABEL
L_list = ['WBC', 'White Blood', 'Albumin', 'Platelet', 'pH', 'Lactate Level', 'Fi02', 'Pa02', 'Heart Rate', 'temperature', 'BMI', 'Body Mass Index',
          'PaCO2', 'Base Excess', 'Hemoglobin', 'Hematocrit', 'Sodium', 'Potassium', 'Chloride', 'Bicarbonate', 'Blood Urea Nitrogen', 'BUN', 'Creatinine', 
          'Glucose', 'Calcium', 'Magnesium', 'Phosphate', 'Bilirubin', 'Aspartate Aminotransferase', 'AST', 'Alanine Aminotransferase',
          'ALT','Alkaline', 'Phosphatase' ,'ALP','Protein']
# L_list = ['temperature c']
L_list = [s.lower().replace(' ', '') for s in L_list]

df['LABEL'] = df['LABEL'].str.lower() #소문자로 변경
df['LABEL'] = df['LABEL'].str.replace(' ', '', regex=True).str.strip()#공백 제거

pattern = '|'.join(L_list)
df1 = df[pd.notna(df['LABEL']) & df['LABEL'].str.contains(pattern)]
ID1 = df1["ITEMID"].tolist()
print("특정 LABEL인 ITEMID 개수: ", len(ID1))

# # 2. Category 기준 ITEMID 
# df['CATEGORY'] = df['CATEGORY'].str.lower() #소문자로 변경
df2 = df[df['CATEGORY']==""]
ID2 = df2["ITEMID"].tolist()
print("특정 Category인 ITEMID 개수", len(ID2))

# 3. ID1, ID2 합치기
ID_list = ID1+ID2
print("전체 ITEMID 개수: ", len(ID_list))

# 4. ID_list에 해당한는 data 확인
df = df[df["ITEMID"].isin(ID_list)]
df.drop(columns=["ROW_ID", "ABBREVIATION", "DBSOURCE", "LINKSTO"], inplace=True)
unique_labels = set(df["LABEL"].to_list())
# print(unique_labels)

특정 LABEL인 ITEMID 개수:  1063
특정 Category인 ITEMID 개수 0
전체 ITEMID 개수:  1063

/tmp/ipykernel_1751057/2410845090.py:29: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns=["ROW_ID", "ABBREVIATION", "DBSOURCE", "LINKSTO"], inplace=True)

##### 1. LABEVENTS

LABEVENTS Table Column 설명
 - ROW_ID: LABEVENTS 테이블 내에서 고유한 식별자입니다.
 - SUBJECT_ID: 환자의 고유 식별자입니다. 이 값은 SUBJECTS 테이블의 SUBJECT_ID와 동일합니다.
 - HADM_ID: LABEVENTS 테이블에 대한 환자의 입원 고유 식별자입니다. 이 값은 ADMISSIONS 테이블의 HADM_ID와 동일합니다.
 - ITEMID: 검사 결과를 식별하는 고유한 식별자입니다. 이 값은 D_ITEMS 테이블의 ITEMID와 연결됩니다.
 - CHARTTIME: 검사 결과를 기록한 시간입니다. 이 값은 DATETIME 형식으로 저장됩니다.
 - VALUE: 검사 결과 값입니다. 예를 들어, 혈액 검사에서는 헤모글로빈 농도가 될 수 있습니다.
 - VALUEUOM: 검사 결과 값의 단위입니다. 예를 들어, 혈액 검사에서는 g/dL (그램/데시리터)가 될 수 있습니다.
 - FLAG: 검사 결과에 대한 특이사항을 나타내는 플래그입니다. 이 칼럼은 옵션입니다.

In [436]:
df1 = pd.read_csv("/data/PUBLIC_DATA/MIMIC-III/LABEVENTS.csv")
df1 = df1[df1["ITEMID"].isin(ID_list)]
df1

Empty DataFrame
Columns: [ROW_ID, SUBJECT_ID, HADM_ID, ITEMID, CHARTTIME, VALUE, VALUENUM, VALUEUOM, FLAG]
Index: []

##### 2. OUTPUTEVENT

OUTPUTEVENT Table Column 설명
 - ROW_ID: 행(row)의 고유 식별자
 - SUBJECT_ID: 환자의 고유 식별자
 - HADM_ID: 환자가 입원한 병원의 고유 식별자
 - ICUSTAY_ID: 환자가 입원한 중환자실의 고유 식별자
 - CHARTTIME: 측정 시각
 - ITEMID: 측정 항목의 고유 식별자
 - VALUE: 측정 값
 - VALUEUOM: 측정 값의 단위
 - STORETIME: 기록 시각
 - CGID: 기록한 의료진의 고유 식별자
 - STOPPED: 측정이 중지된 시각
 - NEWBOTTLE: 새로운 병이 사용되었는지 여부
 - ISERROR: 측정값이 정상적인 값이 아니었는지 여부

In [420]:
df2 = pd.read_csv("/data/PUBLIC_DATA/MIMIC-III/OUTPUTEVENTS.csv")
df2 = df2[df2["ITEMID"].isin(ID_list)]
df2

Empty DataFrame
Columns: [ROW_ID, SUBJECT_ID, HADM_ID, ICUSTAY_ID, CHARTTIME, ITEMID, VALUE, VALUEUOM, STORETIME, CGID, STOPPED, NEWBOTTLE, ISERROR]
Index: []

##### 3. MICROBIOLOGYEVENTS

MICROBIOLOGYEVENTS Table Column 설명
 - ROW_ID: 칼럼 데이터의 고유한 식별자 (integer)
 - SUBJECT_ID: 환자 고유 식별자 (integer)
 - HADM_ID: 환자가 입원한 입원 고유 식별자 (integer)
 - CHARTDATE: 검사 결과가 기록된 날짜 (date)
 - CHARTTIME: 검사 결과가 기록된 시간 (timestamp)
 - SPEC_ITEMID: 검사한 생물학적 검체의 종류에 대한 코드 (integer)
 - SPEC_TYPE_DESC: 검사한 생물학적 검체의 종류에 대한 설명 (string)
 - ORG_ITEMID: 검출된 균주에 대한 코드 (integer)
 - ORG_NAME: 검출된 균주에 대한 이름 (string)
 - ISOLATE_NUM: 분리된 균주의 개수 (integer)
 - AB_ITEMID: 검출된 항생제에 대한 코드 (integer)
 - AB_NAME: 검출된 항생제에 대한 이름 (string)
 - DILUTION_TEXT: 검출된 항생제의 MIC 값을 나타내는 문자열 (string)
 - DILUTION_COMPARISON: MIC 값을 비교하기 위해 사용된 연산자 (string)
 - INTERPRETATION: MIC 값을 해석한 결과 (string)

In [421]:
df3 = pd.read_csv("/data/PUBLIC_DATA/MIMIC-III/MICROBIOLOGYEVENTS.csv")
ID_list = [float(x) for x in ID_list]
df3 = df3[df3[["SPEC_ITEMID", "ORG_ITEMID", "AB_ITEMID"]].isin(ID_list).any(axis=1)]
df3

Empty DataFrame
Columns: [ROW_ID, SUBJECT_ID, HADM_ID, CHARTDATE, CHARTTIME, SPEC_ITEMID, SPEC_TYPE_DESC, ORG_ITEMID, ORG_NAME, ISOLATE_NUM, AB_ITEMID, AB_NAME, DILUTION_TEXT, DILUTION_COMPARISON, DILUTION_VALUE, INTERPRETATION]
Index: []

##### 4. 문제?

In [459]:
print("Table 별 유니크한 ITEMID 개수")
df1 = pd.read_csv("/data/PUBLIC_DATA/MIMIC-III/LABEVENTS.csv")
print("LABEVENTS table의 ITEMID 수: ", len(df1['ITEMID'].sort_values().unique()))
df2 = pd.read_csv("/data/PUBLIC_DATA/MIMIC-III/OUTPUTEVENTS.csv")
print("OUTPUTEVENTS table의 ITEMID 수: ", len(df2['ITEMID'].sort_values().unique()))
df3 = pd.read_csv("/data/PUBLIC_DATA/MIMIC-III/MICROBIOLOGYEVENTS.csv")
print("MICROBIOLOGYEVENTS table의 ITEMID 수: ", len(df3['SPEC_ITEMID'].sort_values().unique()))

Table 별 유니크한 ITEMID 개수
LABEVENTS table의 ITEMID 수:  726
OUTPUTEVENTS table의 ITEMID 수:  1155
MICROBIOLOGYEVENTS table의 ITEMID 수:  93

In [464]:
df1.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ITEMID,CHARTTIME,VALUE,VALUENUM,VALUEUOM,FLAG
0,281,3,NaN,50820,2101-10-12 16:07:00,7.39,7.39,units,NaN
1,282,3,NaN,50800,2101-10-12 18:17:00,ART,NaN,NaN,NaN
2,283,3,NaN,50802,2101-10-12 18:17:00,-1,-1.00,mEq/L,NaN
3,284,3,NaN,50804,2101-10-12 18:17:00,22,22.00,mEq/L,NaN
4,285,3,NaN,50808,2101-10-12 18:17:00,0.93,0.93,mmol/L,abnormal

In [465]:
df2.head()

,ROW_ID,SUBJECT_ID,HADM_ID,ICUSTAY_ID,CHARTTIME,ITEMID,VALUE,VALUEUOM,STORETIME,CGID,STOPPED,NEWBOTTLE,ISERROR
0,344,21219,177991.0,225765.0,2142-09-08 10:00:00,40055,200.0,ml,2142-09-08 12:08:00,17269,NaN,NaN,NaN
1,345,21219,177991.0,225765.0,2142-09-08 12:00:00,40055,200.0,ml,2142-09-08 12:08:00,17269,NaN,NaN,NaN
2,346,21219,177991.0,225765.0,2142-09-08 13:00:00,40055,120.0,ml,2142-09-08 13:39:00,17269,NaN,NaN,NaN
3,347,21219,177991.0,225765.0,2142-09-08 14:00:00,40055,100.0,ml,2142-09-08 16:17:00,17269,NaN,NaN,NaN
4,348,21219,177991.0,225765.0,2142-09-08 16:00:00,40055,200.0,ml,2142-09-08 16:17:00,17269,NaN,NaN,NaN

In [466]:
df3.head()

,ROW_ID,SUBJECT_ID,HADM_ID,CHARTDATE,CHARTTIME,SPEC_ITEMID,SPEC_TYPE_DESC,ORG_ITEMID,ORG_NAME,ISOLATE_NUM,AB_ITEMID,AB_NAME,DILUTION_TEXT,DILUTION_COMPARISON,DILUTION_VALUE,INTERPRETATION
0,744,96,170324,2156-04-13 00:00:00,2156-04-13 14:18:00,70021.0,BRONCHOALVEOLAR LAVAGE,80026.0,PSEUDOMONAS AERUGINOSA,1.0,NaN,NaN,NaN,NaN,NaN,NaN
1,745,96,170324,2156-04-20 00:00:00,2156-04-20 13:10:00,70062.0,SPUTUM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,746,96,170324,2156-04-20 00:00:00,2156-04-20 16:00:00,70012.0,BLOOD CULTURE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,747,96,170324,2156-04-20 00:00:00,NaN,70012.0,BLOOD CULTURE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,748,96,170324,2156-04-20 00:00:00,NaN,70079.0,URINE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN